<nz-modal [(nzVisible)]="checkVisibleCreate" nzTitle="Tạo mới Hosting" (nzAfterOpen)="loadingOk()" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form action="" [formGroup]="createForm" nz-row [nzGutter]="16">
          <div class="form-group" nz-col nzSpan="24">
            <div class="label-block">
              <label class="fw-bold">IP Address <span class="color-red">*</span></label>
            </div>
            <div class="label-block">
              <nz-input-group>
                <input type="text" nz-input formControlName="ipaddress"/>
              </nz-input-group>
            </div>
          </div>
          <div class="form-group" nz-col nzSpan="12">
            <div class="label-block">
              <label class="fw-bold">IP Address F5 </label>
            </div>
            <div class="label-block">
              <nz-input-group>
                <input type="text" nz-input formControlName="ipaddressf5" />
              </nz-input-group>
            </div>
          </div>
          <div class="form-group" nz-col nzSpan="12">
            <div class="label-block">
              <label for="" class="fw-bold">Hostname</label>
            </div>
            <div class="label-block">
              <nz-input-group>
                <input type="text" nz-input formControlName="hostname" />
              </nz-input-group>
            </div>
          </div>
          
          <div class="form-group" nz-col nzSpan="12">
            <div class="label-block">
              <label for="" class="fw-bold">Priority </label>
            </div>
            <div class="label-block">
              <nz-input-group>
                <input type="text" nz-input formControlName="priority" />
              </nz-input-group>
            </div>
          </div>
          <div class="form-group" nz-col nzSpan="12">
              <div class="label-block">
                  <label for="" class="fw-bold">ENV </label>
                </div>
                <div class="label-block">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="env"/>
                  </nz-input-group>
                </div>
          </div>
          <div class="form-group" nz-col nzSpan="12">
              <div class="label-block">
                  <label for="" class="fw-bold">Type </label>
                </div>
                <div class="label-block">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="type"/>
                  </nz-input-group>
              </div>
          </div>
          <div class="form-group" nz-col nzSpan="12">
              <div class="label-block">
                <label for="" class="fw-bold">Middleware</label>
              </div>
              <div class="label-block">
                <nz-input-group>
                  <input type="text" nz-input formControlName="middleware" />
                </nz-input-group>
              </div>
          </div>
          <div class="form-group" nz-col nzSpan="24">
              <div class="label-block">
                <label for="" class="fw-bold">Thông tin Hệ thống</label>
              </div>
              <div class="label-block">
                <nz-input-group>
                  <textarea rows="3" nz-input formControlName="information"></textarea>
                </nz-input-group>
              </div>
          </div>
          <div class="form-group" nz-col nzSpan="12">
              <div class="label-block">
                <label for="" class="fw-bold">Machine Type</label>
              </div>
              <div class="label-block">
                <nz-input-group>
                  <input type="text" nz-input formControlName="machineType"/>
                </nz-input-group>
              </div>
          </div>
          <div class="form-group" nz-col nzSpan="12">
              <div class="label-block">
                <label for="" class="fw-bold">OS</label>
              </div>
              <div class="label-block">
                <nz-input-group>
                  <input type="text" nz-input formControlName="os" />
                </nz-input-group>
              </div>
          </div>
          <div class="form-group" nz-col nzSpan="12">
              <div class="label-block">
                <label for="" class="fw-bold">Note </label>
              </div>
              <div class="label-block">
                <nz-input-group>
                  <input type="text" nz-input formControlName="note"/>
                </nz-input-group>
              </div>
          </div>
          <div class="form-group" nz-col nzSpan="12">
              <div class="label-block">
                <label for="" class="fw-bold">N/A </label>
              </div>
              <div class="label-block">
                <nz-input-group>
                  <input type="text" nz-input formControlName="na"  />
                </nz-input-group>
              </div>
          </div>
          <div class="form-group" nz-col nzSpan="24">
            <div class="label-block">
              <label for="" class="fw-bold">Trạng thái <span class="color-red">*</span></label>
            </div>
            <div class="label-block">
              <nz-select style="width: 100%;" formControlName="status">
                <nz-option [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of status"></nz-option>
              </nz-select>
            </div>
          </div>

          <div class="form-group" nz-col nzSpan="24">
            <div class="label-block">
              <label for="" class="fw-bold">Server<span class="color-red">*</span></label>
            </div>
            <div class="label-block">
                <nz-select  nzShowSearch (nzOnSearch)="searchServer($event)" [nzServerSearch]="true" [nzLoading]="searchLoading.server" (ngModelChange)="listChange($event)" style="width: 100%;" formControlName="server">
                  <nz-option [nzValue]="data.id" [nzLabel]="data.name" *ngFor="let data of listServer"></nz-option>
                </nz-select>
              </div>
          </div>
          <div class="form-group"  nz-col nzSpan="12" *ngIf="listPort.length">
            <div class="label-block">
              <label for="" class="fw-bold">Port<span class="color-red">*</span></label>
            </div>
            <div class="label-block">
              <nz-select nzShowSearch (nzOnSearch)="searchPort($event)" [nzServerSearch]="true" [nzLoading]="searchLoading.port" style="width: 100%;" formControlName="port">
                <nz-option [nzValue]="data.id" [nzLabel]="data.port" *ngFor="let data of listPort"></nz-option>
              </nz-select>
            </div>
          </div>
          
          <div class="form-group"  nz-col nzSpan="12" *ngIf="listVlan.length">
            <div class="label-block">
              <label for="" class="fw-bold">Vlan<span class="color-red">*</span></label>
            </div>
            <div class="label-block">
              <nz-select nzShowSearch (nzOnSearch)="searchVlan($event)" [nzServerSearch]="true" [nzLoading]="searchLoading.vlan" style="width: 100%;" formControlName="vlan">
                <nz-option [nzValue]="data.id" [nzLabel]="data.name" *ngFor="let data of listVlan"></nz-option>
              </nz-select>
            </div>
          </div>
        </form>
    </ng-container>
    <ng-container *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="handleOk()">Create Hosting</button>
    </ng-container>
</nz-modal>