<nz-header nzTheme="light">
    <div class="container">
      <div class="div-flex">
        <div class="left">
          <div class="logo">
            <a href="#">
              <img src="../../../../assets/images/logo.png" alt="logo">
            </a>
          </div>
          <!-- <ul nz-menu nzMode="horizontal">
            <li nz-menu-item [nzSelected]="this.router.url.indexOf('dashboard/server/list') != -1">
              <a [routerLink]="['/dashboard', 'server', 'list']">
                SERVER
              </a>
            </li>
            <li nz-menu-item [nzSelected]="this.router.url.indexOf('dashboard/vlan/list') != -1">
              <a [routerLink]="['/dashboard', 'vlan', 'list']">
                VLAN
              </a>
            </li>
            <li nz-menu-item [nzSelected]="this.router.url.indexOf('dashboard/port/list') != -1">
              <a [routerLink]="['/dashboard', 'port', 'list']">
                PORT
              </a>
            </li>
            <li nz-menu-item [nzSelected]="this.router.url.indexOf('dashboard/hosting/list') != -1">
              <a [routerLink]="['/dashboard', 'hosting', 'list']">
                HOSTING
              </a>
            </li>
            <li nz-menu-item [nzSelected]="this.router.url.indexOf('dashboard/qrcode') != -1">
              <a [routerLink]="['/dashboard', 'qrcode']">
                QR Code
              </a>
            </li>
          </ul> -->
        </div>
        <div class="right">
          <button nz-button nz-dropdown [nzDropdownMenu]="menu2"  nzPlacement="bottomRight">
            <span nz-icon nzType="user"></span>
          </button>
          <nz-dropdown-menu #menu2="nzDropdownMenu" >
            <ul nz-menu>
              <li nz-menu-item (click)="showModalInfor()"><span style="margin-right: 7px;" nz-icon nzType="user" nzTheme="outline"></span> Thông tin User</li>
              <li *ngIf="currentUser.roleId == 1" nz-menu-item  [routerLink]="['/dashboard', 'hosting', 'list']"><span style="margin-right: 7px;" nz-icon nzType="ordered-list" nzTheme="outline"></span>Dashboard</li>
              <li nz-menu-item (click)="showModalChangePassword()"><span style="margin-right: 7px;" nz-icon nzType="undo" nzTheme="outline"></span> Thay đổi mật khẩu</li>
              <li nz-menu-item  [routerLink]="['/auth', 'logout']"><span style="margin-right: 7px;" nz-icon nzType="logout" nzTheme="outline"></span>Đăng xuất</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
</nz-header>

<app-auth-change-password [(checkVisibleChangePassword)]=checkVisibleChangePassword (checkVisibleChangePasswordChange) = "changePassword($event)" [user]=currentUser></app-auth-change-password>

<app-auth-infor [(checkVisibleInfor)]=checkVisibleInfor (checkVisibleInforChange) = "changeInfor($event)" [user]=currentUser></app-auth-infor>