<nz-modal [(nzVisible)]="checkVisibleInfor" [nzTitle]="'Thông tin Hosting'" (nzAfterOpen)="loadingOk()" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <div>
        <nz-table #nzTable [nzData]="['']" nzTableLayout="fixed" [nzShowPagination]="false" [nzScroll]="{ y: '350px' }">
          <tbody>
            <tr>
                <td class="fw-bold">IP Address</td>
                <td>{{dataHosting.ipaddress}}</td>
            </tr>
            <tr>
                <td class="fw-bold">IP Address F5</td>
                <td>{{dataHosting.ipaddressF5}}</td>
            </tr>
            <tr>
                <td class="fw-bold">Hostname</td>
                <td>{{dataHosting.hostname}}</td>
            </tr>
            <tr>
                <td class="fw-bold">Port</td>
                <td>{{dataHosting.portName}}</td>
            </tr>
            <tr>
                <td class="fw-bold">Priority</td>
                <td>{{dataHosting.priority}}</td>
            </tr>
            <tr>
                <td class="fw-bold">ENV</td>
                <td>{{dataHosting.env}}</td>
            </tr>
            <tr>
                <td class="fw-bold">TYPE</td>
                <td>{{dataHosting.type}}</td>
            </tr>
            <tr>
                <td class="fw-bold">Middleware</td>
                <td>{{dataHosting.middleware}}</td>
            </tr>
            <tr>
                <td class="fw-bold">Information</td>
                <td>{{dataHosting.information}}</td>
            </tr>
            <tr>
                <td class="fw-bold">MachineType</td>
                <td>{{dataHosting.machineType}}</td>
            </tr>
            <tr>
                <td class="fw-bold">OS</td>
                <td>{{dataHosting.os}}</td>
            </tr>
            <tr>
                <td class="fw-bold">Note</td>
                <td>{{dataHosting.note}}</td>
            </tr>
            <tr>
                <td class="fw-bold">NA</td>
                <td>{{dataHosting.na}}</td>
            </tr>
            <tr>
                <td class="fw-bold">Trạng thái</td>
                <td >
                    <ng-container *ngFor="let item of status">
                        <nz-tag *ngIf="dataHosting.status == item.id"  [nzColor]="item.color">{{item.name}}</nz-tag>
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td class="fw-bold">Vlan</td>
                <td>{{dataHosting.vlanName}}</td>
            </tr>
            <tr>
                <td class="fw-bold">Server</td>
                <td>{{dataHosting.serverName}}</td>
            </tr>

          </tbody>
        </nz-table>
      </div>
    </ng-container>
    <ng-container *nzModalFooter></ng-container>
</nz-modal>
