<div class="style-loading" *ngIf="loadingState">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
  
  <div class="inner-content">
      <div style="margin: 20px 0;display: flex;justify-content: space-between;">
          <div style="display: flex;align-items: center;">
            <span class="fw-bold">Tìm kiếm: </span>
            <div style="margin-left: 10px;">
              <input nz-input placeholder="Từ khóa" [(ngModel)]="search.keyword" nzSize="default" />
            </div>
            <div style="margin-left: 10px;">
              <nz-select style="width: 120px;" [(ngModel)]="search.status" nzPlaceHolder="Status">
                <nz-option [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of status"></nz-option>
              </nz-select>
            </div>
            <div style="margin-left: 10px;">
              <nz-select nzShowSearch (nzOnSearch)="searchServer($event)" style="width: 120px;" [(ngModel)]="search.server" nzPlaceHolder="Server" [nzLoading]="searchLoading">
                <nz-option [nzValue]="data?.id" [nzLabel]="data?.name" *ngFor="let data of listServer"></nz-option>
              </nz-select>
            </div>
            <div style="margin-left: 10px;">
              <button nz-button nzType="primary" (click)="getList()">
                <span nz-icon nzType="search"></span>
                Tìm kiếm
              </button>
            </div>
          </div>
          <div>
            <button *ngIf="currentUser?.roleId < 3" nz-button [nzType]="'primary'" [nzSize]="sizeButton" (click)="showModalCreateVlan()"><span>Tạo mới Vlan</span></button>
          </div>
      </div>
      <nz-table #nzTable [nzData]="listVlan" nzTableLayout="fixed" nzShowSizeChanger  [nzShowPagination]="false">
          <thead>
            <tr>
              <th class="text-center" style="width: 80px;">STT</th>
              <th class="text-center">Loại Vlan</th>
              <th class="text-center">Status</th>
              <th>Thông tin Vlan</th>
              <th class="text-center">Server</th>
              <th class="text-center" style="width: 120px;">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable.data; let i = index">
              <td class="text-center">{{ i + 1}}</td>
              <td class="text-center">{{ data.name }}</td>
              <td class="text-center">
                <nz-tag [nzColor]="'red'" *ngIf="data.status == -1">Error</nz-tag>
                <nz-tag [nzColor]="'orange'" *ngIf="data.status == 0">Stop</nz-tag>
                <nz-tag [nzColor]="'green'" *ngIf="data.status == 1">Active</nz-tag>
              </td>
              <td>{{ data.description }}</td>
              <td class="text-center">
                {{data.nameServer}}
              </td>
              <td class="text-center">
                <button nz-button nz-dropdown [nzDropdownMenu]="menu4" style="border-radius: 50%;">
                  <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu4="nzDropdownMenu">
                  <ul nz-menu>
                    <li *ngIf="currentUser?.roleId < 3" nz-menu-item (click)="showModalUpdateVlan(data)">
                      <span style="margin-right: 12px;"><i nz-icon nzType="edit" nzTheme="outline"></i></span>
                      Chỉnh sửa Vlan
                    </li>
                    <li *ngIf="currentUser?.roleId < 3" nz-menu-item (click)="showConfirmDelete(data.id)">
                      <span style="margin-right: 12px;"><i nz-icon nzType="rest" nzTheme="outline"></i></span>
                      Xóa Vlan
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <div style="margin-top: 1.5rem;display: flex;justify-content: flex-end;">
          <nz-pagination [nzPageIndex]="page" [nzTotal]="totalVlan" nzShowSizeChanger [nzPageSize]="10" [nzPageSizeOptions]="sizePage" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
        </div>
        
  </div>
  <app-dashboard-modal-update-vlan [(checkVisibleUpdateVlan)]=checkVisibleUpdateVlan (checkVisibleUpdateVlanChange) = "updateVlan($event)" [vlanUpdate]=dataVlan [listServer]=listServerModal></app-dashboard-modal-update-vlan>
  <app-dashboard-modal-create-vlan [(checkVisibleCreateVlan)]=checkVisibleCreateVlan (checkVisibleCreateVlanChange) = "createVlan($event)" [listServer]=listServerModal></app-dashboard-modal-create-vlan>